html {
  height: 100%;
}

body {
  background-color: rgb(202, 118, 87);
  background-image: url(images/background-adare-restaurant.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header {
  height: 110px;
  text-align: center;
}

nav {
  background-color: rgba(0, 0, 0, 0.338);
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
}

nav a {
  text-decoration: none;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

main {
  height: 400px;
  text-align: center;
  padding-top: 80px;
  padding-left: 240px;
  padding-right: 240px;
}

footer {
  background-color: rgb(0, 0, 0);
  padding-top: 50px;
  padding-bottom: 50px;
}

footer p {
  font-size: 10px;
  text-align: center;
  color: white;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}

h1 {
  font-size: 84px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 18px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.maps {
  padding-bottom: 100px;
}